In [1]:
import pandas as pd

data_path = r'../Data/data/'

# Read in the CSV file
crsp_data = pd.read_parquet(data_path + r'market_Top24_CRSP_Q1filter_Datedrop_fill.parquet', engine='fastparquet')
base_data = pd.read_parquet(data_path + r'market_Top24_FullPricingDate.parquet', engine='fastparquet')

In [2]:
# crsp data에 base data를 merge
crsp_data['companyId'] = crsp_data['PERMNO']

# crsp date를 datatime으로 변환
crsp_data['pricingDate'] = pd.to_datetime(crsp_data['date'], format='%Y-%m-%d')

In [3]:
crsp_data2 = pd.merge(crsp_data, base_data, on=['companyId', 'pricingDate'], how='left')
crsp_data2.head(5)

,PERMNO,date,Close,Vol,SHROUT,RET,OPENPRC,ASKHI,BIDLO,companyId,...,divAdjFactor,marketCap,TEV,sharesOutstanding,divFreqTypeName,supplementalTypeName,dividendTypeName,divAmount,netAmount,grossAmount
0,18511,2017-01-03,7.120,2006767.0,956774299.0,-0.006974,709.0,714.424988,707.0,18511,...,0.793939,6812.233008,6736.233008,956774299.0,None,None,None,NaN,NaN,NaN
1,18511,2017-01-04,7.170,1963742.0,956770000.0,-0.007612,713.0,719.000000,710.5,18511,...,0.793939,6860.040900,6784.040900,956770000.0,Interim Payment,None,No special code applies,0.08,NaN,0.08
2,18511,2017-01-05,7.225,1698874.0,956770000.0,-0.001382,715.5,724.393982,715.5,18511,...,0.793939,6912.663250,6836.663250,956770000.0,None,None,None,NaN,NaN,NaN
3,18511,2017-01-06,7.235,2003358.0,956770000.0,-0.002757,718.5,726.000000,718.5,18511,...,0.793939,6922.230950,6846.230950,956770000.0,None,None,None,NaN,NaN,NaN
4,18511,2017-01-09,7.255,1876628.0,956770000.0,0.013268,724.5,729.500000,721.5,18511,...,0.793939,6941.366350,6865.366350,956770000.0,None,None,None,NaN,NaN,NaN

In [4]:
crsp_data3 = crsp_data2.drop(crsp_data2.columns[14:], axis=1)
crsp_data3.head(5)

,PERMNO,date,Close,Vol,SHROUT,RET,OPENPRC,ASKHI,BIDLO,companyId,pricingDate,companyName,tickerSymbol,exchangeSymbol
0,18511,2017-01-03,7.120,2006767.0,956774299.0,-0.006974,709.0,714.424988,707.0,18511,2017-01-03,3i Group plc,III,LSE
1,18511,2017-01-04,7.170,1963742.0,956770000.0,-0.007612,713.0,719.000000,710.5,18511,2017-01-04,3i Group plc,III,LSE
2,18511,2017-01-05,7.225,1698874.0,956770000.0,-0.001382,715.5,724.393982,715.5,18511,2017-01-05,3i Group plc,III,LSE
3,18511,2017-01-06,7.235,2003358.0,956770000.0,-0.002757,718.5,726.000000,718.5,18511,2017-01-06,3i Group plc,III,LSE
4,18511,2017-01-09,7.255,1876628.0,956770000.0,0.013268,724.5,729.500000,721.5,18511,2017-01-09,3i Group plc,III,LSE

In [5]:
# pricingDate, tickerSymbol	exchangeSymbol만 남기고 드롭
crsp_data4 = crsp_data3.drop(crsp_data3.columns[1:3], axis=1)
crsp_data5 = crsp_data4.drop(crsp_data4.columns[1:9], axis=1)

In [6]:
# crsp_data5 유니크한 값만 남기기
crsp_data6 = crsp_data5.drop_duplicates()

# NaN 값 드롭
crsp_data6 = crsp_data6.dropna()
crsp_data6.reset_index(drop=True, inplace=True)
crsp_data6.to_csv(data_path + "ticker-companyId.csv", index=False)

In [7]:
crsp_data6.head()

   PERMNO                     companyName tickerSymbol exchangeSymbol
0   18511                    3i Group plc          III            LSE
1   18527                         ABB Ltd         ABBN            SWX
2   19521        Castle Private Equity AG         CPEN            SWX
3   20021        Deutsche Beteiligungs AG         DBAN           XTRA
4   21145  Intermediate Capital Group plc          ICP            LSE

In [8]:
oos1 = pd.read_csv(r"../PriceTrend\WORK_SPACE\new_model_res\20_5\20_5\ensem_res\ensem5_res_2022.csv", index_col=False)
oos2 = pd.read_csv(r"../PriceTrend\WORK_SPACE\new_model_res\20_5\20_5\ensem_res\ensem5_res_2023.csv", index_col=False)

In [9]:
# oos1 과 oos2를 합침
oos = pd.concat([oos1, oos2])
oos

        Unnamed: 0   StockID ending_date   up_prob   ret_val     MarketCap
0                0  10006056  2022-01-05  0.482040 -0.058993  1.645435e+11
1                1  10006056  2022-01-12  0.492523 -0.269958  1.640501e+11
2                2  10006056  2022-01-19  0.558640 -0.046092  1.909396e+11
3                3  10006056  2022-01-26  0.497297 -0.018328  2.385511e+11
4                4  10006056  2022-02-02  0.510549 -0.087736  2.346040e+11
...            ...       ...         ...       ...       ...           ...
211094          22  99864120  2023-09-06  0.487342 -0.002153  7.464000e+10
211095          23  99864120  2023-09-13  0.481265  0.031077  7.376000e+10
211096          24  99864120  2023-09-20  0.517436  0.035632  7.352000e+10
211097          25  99864120  2023-09-27  0.467920  0.128169  7.144000e+10
211098          26  99864120  2023-10-04  0.554175  0.000000  6.960000e+10

[485691 rows x 6 columns]

In [10]:
oos.reset_index(drop=True, inplace=True)
oos = oos.drop(oos.columns[0], axis=1)
oos

         StockID ending_date   up_prob   ret_val     MarketCap
0       10006056  2022-01-05  0.482040 -0.058993  1.645435e+11
1       10006056  2022-01-12  0.492523 -0.269958  1.640501e+11
2       10006056  2022-01-19  0.558640 -0.046092  1.909396e+11
3       10006056  2022-01-26  0.497297 -0.018328  2.385511e+11
4       10006056  2022-02-02  0.510549 -0.087736  2.346040e+11
...          ...         ...       ...       ...           ...
485686  99864120  2023-09-06  0.487342 -0.002153  7.464000e+10
485687  99864120  2023-09-13  0.481265  0.031077  7.376000e+10
485688  99864120  2023-09-20  0.517436  0.035632  7.352000e+10
485689  99864120  2023-09-27  0.467920  0.128169  7.144000e+10
485690  99864120  2023-10-04  0.554175  0.000000  6.960000e+10

[485691 rows x 5 columns]

In [11]:
crsp_data6.rename(columns={'PERMNO': 'StockID'}, inplace=True)

In [12]:
# oos 와 crsp_data6를 StockID 기준으로 합침
oos_crsp = pd.merge(oos, crsp_data6, on=['StockID'], how='left')
oos_crsp['ending_date'] = pd.to_datetime(oos_crsp['ending_date'])

In [13]:
reddit = pd.read_csv(r"../reddit\reddit_factor_scaled.csv", index_col=0)
reddit.reset_index(inplace=True)
reddit.rename(columns={'factor': 'reddit_factor'}, inplace=True)
reddit.rename(columns={'index': 'ending_date'}, inplace=True)
reddit['ending_date'] = pd.to_datetime(reddit['ending_date'])

In [14]:
# oos_crsp와 reddit을 ending_date 기준으로 합침
oos_crsp_reddit = pd.merge(oos_crsp, reddit, on=['ending_date'], how='left')

In [15]:
oos_crsp_reddit.sort_values(by=['ending_date'], inplace=True)

In [16]:
ohlcv = pd.read_feather(r'../PriceTrend\WORK_SPACE\data\processed_data\us_ret.feather')

ohlcv.drop(ohlcv.columns[10:], axis=1, inplace=True)
# 2022년 1월 1일부터 2023년 12월 31일까지의 데이터만 추출
ohlcv = ohlcv[ohlcv['Date'] >= '2022-01-01']
ohlcv.to_csv(r"../Data/data/final_ohlcv.csv", index=False)

In [17]:
youtube = pd.read_csv(r"../Data/data/youtube_sentiment.csv", index_col=0)
youtube.reset_index(inplace=True)
youtube.rename(columns={'date': 'ending_date'}, inplace=True)
youtube['ending_date'] = pd.to_datetime(youtube['ending_date'], format='%Y-%m')
youtube.drop(youtube.columns[1:3], axis=1, inplace=True)

In [18]:
# 투자 의사결정 lagging
youtube['positive'] = youtube['positive'].shift(-1)
youtube

   ending_date  positive
0   2017-01-01  0.000000
1   2017-02-01  0.142857
2   2017-03-01  0.000000
3   2017-04-01  0.166667
4   2017-05-01  0.000000
..         ...       ...
78  2023-07-01  0.066667
79  2023-08-01  0.117647
80  2023-09-01  0.114943
81  2023-10-01  0.170213
82  2023-11-01       NaN

[83 rows x 2 columns]

In [19]:
# 2017년부터 2023년의 모든 날짜를 생성
date = pd.date_range(start='2017-01-01', end='2023-12-31', freq='d')
date = pd.DataFrame(date, columns=['ending_date'])

# date와 youtube를 ending_date 기준으로 합침
youtube = pd.merge(date, youtube, on=['ending_date'], how='left')
youtube.ffill(inplace=True)
youtube

     ending_date  positive
0     2017-01-01  0.000000
1     2017-01-02  0.000000
2     2017-01-03  0.000000
3     2017-01-04  0.000000
4     2017-01-05  0.000000
...          ...       ...
2551  2023-12-27  0.170213
2552  2023-12-28  0.170213
2553  2023-12-29  0.170213
2554  2023-12-30  0.170213
2555  2023-12-31  0.170213

[2556 rows x 2 columns]

In [20]:
# oos_crsp와 reddit을 ending_date 기준으로 합침
oos_crsp_reddit_youtube = pd.merge(oos_crsp_reddit, youtube, on=['ending_date'], how='left')

In [27]:
oos_crsp_reddit_youtube['StockID'] = oos_crsp_reddit_youtube['StockID'].astype(str)
oos_crsp_reddit_youtube.to_csv(r"../Data/data/fianl_factor.csv", index=False)
oos_crsp_reddit_youtube.to_parquet(r"../Data/data/fianl_factor.parquet", index=False)

In [22]:
ohlcv.reset_index(inplace=True)

In [23]:
oos_crsp_reddit_youtube
oos_crsp_reddit_youtube['Date'] = oos_crsp_reddit_youtube['ending_date']

In [24]:
# ohlcv와 oos_crsp_reddit_youtube를 Date와 ending_date 기준으로 합침
investment = pd.merge(ohlcv, oos_crsp_reddit_youtube, on=['StockID', 'Date'], how='left')
investment

,index,Date,StockID,Close,Vol,Shares,Ret,Open,High,Low,MarketCap_x,ending_date,up_prob,ret_val,MarketCap_y,companyName,tickerSymbol,exchangeSymbol,reddit_factor,positive
0,6771026,2022-01-03,10006056,6540.000,298275.0,24669191.0,-0.036819,6640.000000,6660.000000,6500.000000,1.613365e+11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6771027,2022-01-03,100138894,575.050,2031.0,11127890.0,-0.010241,580.299988,580.549988,565.549988,6.399093e+09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6771028,2022-01-03,10015656,501.500,2540.0,7500000.0,0.007635,484.000000,514.599976,482.399994,3.761250e+09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6771029,2022-01-03,1001585,86.000,4632.0,3663691.0,0.007026,83.800003,89.000000,83.000000,3.150774e+08,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6771030,2022-01-03,10023489,75.650,63140.0,954044762.0,0.020229,76.900002,76.900002,75.000000,7.217349e+10,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2414059,9185085,2023-10-10,99715630,0.406,100.0,12921204.0,0.000000,NaN,NaN,NaN,5.246009e+06,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2414060,9185086,2023-10-10,997213,263.500,10632.0,8443062.0,-0.024668,258.500000,261.000000,257.000000,2.224747e+09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2414061,9185087,2023-10-10,99805116,155.900,165902.0,32263884.0,-0.021167,149.399994,152.649994,139.050003,5.029940e+09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2414062,9185088,2023-10-10,99861541,3625.000,84649.0,77446865.0,0.015172,3560.000000,3700.000000,3560.000000,2.807449e+11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2414063,9185089,2023-10-10,99864120,4325.000,14970.0,16000000.0,0.005780,4250.000000,4370.000000,4250.000000,6.920000e+10,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
investment.to_parquet(r"../Data/data/final_investment.parquet", index=False)

In [26]:
investment_weekly = investment.dropna()
investment_weekly.reset_index(drop=True, inplace=True)
investment_weekly.drop('ret_val', axis=1, inplace=True)
investment_weekly

C:\Users\FELAB\AppData\Local\Temp\ipykernel_55760\3247202645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investment_weekly.drop('ret_val', axis=1, inplace=True)

,index,Date,StockID,Close,Vol,Shares,Ret,Open,High,Low,MarketCap_x,ending_date,up_prob,MarketCap_y,companyName,tickerSymbol,exchangeSymbol,reddit_factor,positive
0,6781614,2022-01-05,10006056,6670.00,468071.0,24669191.0,0.019878,6730.000000,6770.000000,6640.000000,1.645435e+11,2022-01-05,0.482040,1.645435e+11,DY Corporation,A013570,KOSE,0.396766,0.137931
1,6781615,2022-01-05,100138894,578.50,536.0,11127890.0,0.017053,574.750000,582.849976,574.750000,6.437484e+09,2022-01-05,0.546337,6.437484e+09,Delphi World Money Limited,DELPHIFX,NSEI,0.396766,0.137931
2,6781616,2022-01-05,10015656,490.90,577.0,7500000.0,-0.000712,504.450012,504.899994,488.000000,3.681750e+09,2022-01-05,0.539773,3.681750e+09,Indo National Limited,504058,BSE,0.396766,0.137931
3,6781617,2022-01-05,1001585,90.00,3493.0,3663691.0,0.011236,85.400002,90.800003,85.400002,3.297322e+08,2022-01-05,0.459005,3.297322e+08,Voyageurs du Monde SA,ALVDM,ENXTPA,0.396766,0.137931
4,6781618,2022-01-05,10023489,73.25,41840.0,954044762.0,0.001367,74.400002,74.750000,73.199997,6.988378e+10,2022-01-05,0.543620,6.988378e+10,JM Financial Limited,523405,BSE,0.396766,0.137931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410818,9163908,2023-10-04,99671197,5860.00,32084.0,10950000.0,0.017361,6040.000000,6040.000000,5860.000000,6.416700e+10,2023-10-04,0.502353,6.416700e+10,Korea Engineering Consultants Corp.,A023350,KOSE,0.366065,0.170213
410819,9163910,2023-10-04,997213,257.50,5817.0,8442148.0,0.000000,259.000000,260.000000,255.000000,2.173853e+09,2023-10-04,0.512913,2.173853e+09,Virbac SA,VIRP,ENXTPA,0.366065,0.170213
410820,9163911,2023-10-04,99805116,131.95,203382.0,32263884.0,-0.047292,131.949997,131.949997,128.000000,4.257219e+09,2023-10-04,0.491075,4.257220e+09,Bedmutha Industries Limited,BEDMUTHA,NSEI,0.366065,0.170213
410821,9163912,2023-10-04,99861541,3750.00,94767.0,77446865.0,0.040222,3705.000000,3815.000000,3705.000000,2.904257e+11,2023-10-04,0.520400,2.904257e+11,LG HelloVision Corp.,A037560,KOSE,0.366065,0.170213
410822,9163913,2023-10-04,99864120,4350.00,22464.0,16000000.0,0.016355,4465.000000,4470.000000,4340.000000,6.960000e+10,2023-10-04,0.554175,6.960000e+10,DSR Corp,A155660,KOSE,0.366065,0.170213

In [28]:
investment_weekly.to_csv(r"../Data/data/investment_weekly.csv", index=False)
investment_weekly.to_parquet(r"../Data/data/investment_weekly.parquet", index=False)